@font-face {
    font-family: "yekan";
    src: url("../fonts/Yekan/Yekan.eot");

    src: url("../fonts/Yekan/Yekan.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Yekan/Yekan.woff") format("woff"), url("../fonts/Yekan/Yekan.ttf") format("truetype"),
         url("../fonts/Yekan/Yekan.svg#BYekan") format("svg");

    font-weight: normal;
    font-style: normal
}



*:focus{
    outline: none !important;
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
}

html, body {
    font-family: yekan !important;
    direction: rtl !important;
    text-align: right;
    background-color: #f5f5f5;
}


/* ====== ======== ======= ====== ====== ====== ======= ========*/
/*    custom css class defination here
/* ====== ======== ======= ====== ====== ====== ======= ========*/
.rtl{
    direction: rtl !important;
}

.ltr{
    direction: ltr !important;
}

    
    
/* ============================================================*/
.header{
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    background-color: #fff;
    
}

.header .toggle-sidebar{
    width: 3.5rem;
    height: 100%;
}

.header .toggle-sidebar .toggle-sidebar-btn{
    cursor: pointer;
    outline: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none !important;
    background: none !important;
}

.header .toggle-sidebar .toggle-sidebar-btn span{
    display: block;
    width: 50%;
    height: 2px;
    margin: 2px 0;
    background: #999;
}

.header .toggle-sidebar .toggle-sidebar-btn:hover span {
    background: #333;
}

.content-wrapper{
    position: relative;
    height: calc(100vh - 3.5rem);
}

.content-wrapper .sidebar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15rem;
    margin-right: -15rem;
    background-color: white;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,0.1);
    z-index: 1000;
    transition: all 300ms ease;
}


.content-wrapper .sidebar .sidebar-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.content-wrapper .sidebar .sidebar-nav .nav-menu-item{
}

.content-wrapper .sidebar .sidebar-nav .nav-menu-item .nav-item-link{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #333 !important;
    transition: all 100ms ease;
}

.content-wrapper .sidebar .sidebar-nav .nav-menu-item .nav-item-link:hover{
    color: #fff !important;
    background-color: rgb(255, 180, 0);
}


.content-wrapper .sidebar.show{
    margin-right: 0;
}

.content-wrapper .content {
    margin-right: 15rem;
    transition: all 300ms ease;
}

.content-wrapper .content.expand {
    margin-right: 0;
   
}

.admin-avatar{
    width: 32px;
    height: 32px;
    border-radius:50%;
    overflow: hidden;
}




