*:focus{
    outline: none !important;
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
}

html,body{
    direction:rtl !important;
    text-align: right;
}

.header-menu-container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.logo-wraper{
    width: 25%;
}

.menu-wraper{
    width: 50%;
}

.main-menu{
    display: flex;
    align-items:center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-menu-item{
    display: flex;
    align-items: center;
}

.main-menu-item:not(:last-child)::after {
    content: "/";
    padding:0 10px;
    color: #bbb;
}

.main-menu-link{
    display: block;
    text-decoration: none;
    color: #333 !important;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}

.main-menu-link:hover {
    background-color: orange;
}

.login-logout-buttons-wraper{
    width:25%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.login-logout-buttons-wraper a{
    display: block;
    margin:0 5px;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 15px;
    cursor:pointer;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    color:#333;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    transition: all 300ms ease;
}

.login-logout-buttons-wraper a:hover {
    background-color: #FCC439;
}